<div [@fadeIn] class="cdl-container">
  <header>
    <h1>{{ isNewCustomRoadmap ? "Novo Roadmap" : "Roadmap" }}</h1>
    <nav>
      <ul class="tabs" *ngIf="isNewCustomRoadmap">
        <li>
          <button class="button-nav" type="button" (click)="filter('roadmap')" [class.active]="type == 'roadmap'">
            Roadmap
          </button>
        </li>
        <li>
          <button class="button-nav" type="button" (click)="filter('task')" [class.active]="type == 'task'">
            Task
          </button>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    <!-- CONTENT SELECT NEW ROADMAP -->
    <div class="content-select-new-roadmap" *ngIf="!isNewCustomRoadmap">
      <p>
        Aqui é onde se inicia sua jornada de aprendizado. Você deve escolher
        qual roadmap quer seguir. Na opção default você ira ter a opção de
        escolher um objetivo que teve todo seu caminho pensado pela equipe do
        Codando, e na opção custom você tera a liberdade de decidir cada etapa
        da sua jornada. Iai, qual a sua escolha pra hoje?
      </p>

      <div>
        <div class="div-new-roadmap-option">
          <div>
            <h4>Roadmap Default</h4>
            <p>
              Comece seu objetivo direto ao ponto. Encontre trilhas com todo o
              conteúdo planejado pra você.
            </p>
          </div>
          <button routerLink="/roadmap/list">escolher roadmap</button>
        </div>

        <div class="div-new-roadmap-option">
          <div>
            <h4>Roadmap Custom</h4>
            <p>
              Tome as rédias do seu trajeto. Decida cada etapa do seu objetivo
              de acordo com as suas necessidades.
            </p>
          </div>
          <button routerLink="/roadmap/new/custom" (click)="verifyUrlParam()">
            criar roadmap
          </button>
        </div>
      </div>
    </div>

    <!-- CONTENT NEW CUSTOM ROADMAP -->
    <form class="content-new-custom-roadmap" *ngIf="isNewCustomRoadmap" [formGroup]="roadmapForm"
      (ngSubmit)="onSubmit()">
      <div *ngIf="type === 'roadmap'">
        <section>
          <div class="row row-switch">
            <h4>Informações gerais</h4>
          </div>

          <div class="row">
            <div class="col">
              <label>nome</label>
              <input
                type="text"
                placeholder="Nome do roadmap"
                formControlName="name"
              />
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label>objetivo</label>
              <select name="objective" placeholder="Busque por um assunto" formControlName="objective">
                <option disabled selected value=""> objetivo </option>
                <option *ngFor="let objective of interestList">
                  {{ objective.name }}
                </option>
              </select>
            </div>

            <div class="col">
              <label>nível</label>
              <select name="level" formControlName="level">
                <option disabled selected value="-1">level</option>
                <option value="0" selected>Iniciante</option>
                <option value="1">Intermediário</option>
                <option value="2">Avançado</option>
              </select>
            </div>
          </div>
        </section>
        <button class="button-default float-right" (click)="filter('task')" type="button">
          Próximo
        </button>
      </div>

      <div *ngIf="type === 'task'">
        <div class="header-task-creation-list">
          <h4>Crie uma nova tarefa</h4>
        </div>

        <div class="task-creation-list">
          <div *ngFor="let task of taskList; index as i">
            <section>
              <div class="row">
                <div class="col">
                  <label>título</label>
                  <input name="title" placeholder="Nome da sua task" (input)="handleTaskChange($event, i)" />
                </div>
                <div class="col">
                  <label>data de conclusão</label>
                  <input type="date" name="end_date" placeholder="dd/mm/yyy" (input)="handleTaskChange($event, i)" />
                </div>
                <div class="col">
                  <label>link</label>
                  <input name="link" placeholder="Adicione uma referência" (input)="handleTaskChange($event, i)" />
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <label>descrição</label>
                  <input name="description" placeholder="Fale um pouco sobre sua task"
                    (input)="handleTaskChange($event, i)" />
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <button type="button" *ngIf="!(i === 0)" (click)="removeTask(i)" class="simple-button float-right">
                    Excluir
                  </button>
                </div>
              </div>
            </section>
            <button type="button" *ngIf="i === 0" (click)="addNewTaskObject()" class="button-pink">
              Criar task
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button type="submit" class="button-default float-right">Concluir</button>
          </div>
        </div>
      </div>
    </form>
  </main>
</div>
