<div>
  <div class="">
    <input
      type="text"
      placeholder="{{placeholder}}"
      class="{{ theme }}"
      (input)="filterList($event)"
    />
    <div>
      <ul class="interest-list-dropdown">
        <li *ngIf="categoryListFilter.length === 0 && inputValue.length !== 0">
          <button type="button">
            Nenhum interesse encontrado
          </button>
        </li>
        <li *ngFor="let category of categoryListFilter">
          <button type="button" (click)="handleCategoryList(category, 'add')">
            {{ category }}
          </button>
        </li>
      </ul>
      <div id="interest-list">
        <p class="interest-{{theme}}" *ngFor="let category of categoryListSelected">
          {{ category }}
          <button  type="button" (click)="handleCategoryList(category, 'remove')">
            x
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
