<div class="cdl-container">

  <header>
    <h1>{{ isEditMode ? "Editar" : "Novo" }} grupo</h1>
  </header>

  <main>
    <form [formGroup]="formGroup">
        <section>
          <div class="row row-switch">
            <h4>Informações gerais</h4>
            <div>
              <p>Público</p>
              <label class="switch">
                <input type="checkbox" formControlName="is_public" checked />
                <span class="slider round"></span>
              </label>
            </div>
          </div>

          <div class="row">
            <label>nome</label>
            <input type="text" placeholder="Nome do grupo" formControlName="name" />
          </div>

          <div class="row">
            <div class="col">
              <label>objetivo</label>
              <select name="objective" formControlName="objective" (change)="getSubject($event)">
                <option value="" selected>{{ formGroup.value.objective }}</option>
                <option *ngFor="let objective of subjectList">{{objective.label}}</option>
              </select>
            </div>

              <div class="col">
                <label>nível</label>
                <select name="level" formControlName="level">
                  <option value="0">Iniciante</option>
                  <option value="1">Intermediário</option>
                  <option value="2">Avançado</option>
                </select>
            </div>
          </div>
        </section>

        <section>
          <h4>Informações gerais</h4>
          <label>tags</label>

          <div class="row">
            <div class="col">
              <app-input-auto-complete theme="custom" (itemEvent)="handleCategories($event)"
                placeholder="Assuntos relacionados" [interestLisInput]="interestList" [interestListInputEdit]="interestListEdit"></app-input-auto-complete>
            </div>
          </div>
        </section>

        <footer>
          <button *ngIf="isEditMode" (click)="showConfirmDeleteGroupModal = true">
            Excluir Grupo
          </button>
          <button (click)="onSubmit()">{{ isEditMode ? "Editar" : "Criar" }}</button>
        </footer>
    </form>
  </main>
</div>

<!-- MODAL DELETE GROUP -->
<app-modal
  *ngIf="showConfirmDeleteGroupModal"
  [showController]="showConfirmDeleteGroupModal"
  (close)="showConfirmDeleteGroupModal = false"
>
  <div class="modal-body">
    <p>
      Você tem certeza que deseja exluir esse grupo?
    </p>
    <button (click)="deleteGroup()">Sim, tenho certeza</button>
  </div>
</app-modal>