<!-- <app-modal></app-modal> -->
<div class="container mainPage">
  <div class="bodyForm">
    <div class="header">
      <div>
        <h1>{{ user.name }} {{ user.lastname }}</h1>
      </div>
    </div>

    <section>
      <h4>Informações gerais</h4>
      <div class="row">
        <label>nome</label>
        <input type="text" id="" placeholder="Nome do grupo" formControlName="name" />
      </div>

      <div class="row">
        <div class="col">
          <label>objetivo</label>
          <input
            type="text"
            id=""
            placeholder="Busque por um assunto"
            formControlName="objective"
          />
        </div>
        <div class="col">
          <label>nível</label>
          <input
            type="text"
            id=""
            placeholder="trocar por select"
            formControlName="lastname"
          />
        </div>
      </div>
    </section>

    <section>
      <h4>Informações gerais</h4>
      <div class="row">
        <label>tags</label>
        <input
          type="text"
          id=""
          placeholder="assuntos relacionados"
          formControlName="category"
        />
      </div>
    </section>
  </div>

  <footer>
    <button></button>
    <button *ngIf="isEditMode" [disabled]="!profileForm.valid" type="submit">
      Criar
    </button>
  </footer>
</div>
