@import "../../../sass/abstracts/variables";
@import "../../../sass/components/card";

// schedule
.schedule-type > main {
  width: 250px;
  border: none;
  border-top: 10px solid $cdl_darkBlue;
  height: fit-content;
  box-shadow: 0px 4px 4px #00000040;

  header > p {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
  }

  footer > div {
    justify-content: space-between;
    font-size: 22px;

    div:first-child p {
      font-weight: 500;
    }

    div:last-child p {
      color: $cdl_pink;
      width: 100%;
      text-align: right;
    }
  }
}

.schedule-type > button {
  margin-top: -52px;
  margin-bottom: 40px;
}

.schedule-type:hover > main {
  border: none;
}

.schedule-type:hover {
  > button {
    margin-top: -5px;
    margin-bottom: 0px;
  }
}

// roadmap
.roadmap-type > main {
  width: 100%;
  height: fit-content;
  box-shadow: 0px 4px 4px #00000040;
  row-gap: 50px;

  header {
    display: flex;
    justify-content: space-between;
    > div {
      display: flex;
      align-items: center;

      h4 {
        margin: 0 13px 0 0;
        color: $cdl_yellow;
      }
    }
  }

  header > h4 {
    font-weight: 300;
    text-align: center;
  }
}

.roadmap-type > main > footer {
  display: flex;
  column-gap: 40px;

  > div {
    width: fit-content;
    font-size: 22px;
    color: $cdl_white;
  }
}

.roadmap-type > button {
  margin-top: -52px;
  margin-bottom: 40px;
}

.roadmap-type:hover {
  > button {
    margin-top: -5px;
    margin-bottom: 0px;
  }
}

// roadmap-progress-type
.roadmap-progress-type main {
  width: 100%;
  height: fit-content;
  box-shadow: 0px 4px 4px #00000040;
  row-gap: 40px;
  letter-spacing: 1px;
}

.roadmap-progress-type header {
  display: flex;
  justify-content: space-between;

  > div {
    display: flex;
    align-items: center;

    h4 {
      margin: 0 13px 0 0;
    }
  }
  > h4 {
    font-weight: 500;
    text-align: center;
  }
}

.roadmap-progress-type footer {
  display: flex;
  justify-content: space-between;

  p {
    font-size: 20px;
    margin: 0;
    font-weight: 200;
  }

  > div {
    width: fit-content;
    font-size: 22px;
    color: $cdl_white;
  }
}

.roadmap-progress-type .progress-bar {
  width: 100%;
  height: 32px;
  background: $cdl_white;
  border-radius: 0 0 15px 15px;
  margin-top: -20px;

  > div {
    height: 100%;
    border-radius: 0 0 15px 15px;
    background: $cdl_lightBlue;
  }
}

.roadmap-progress-type:hover {
  > button {
    margin-top: -5px;
    margin-bottom: 0px;
  }
}

// member
.disable-member-card-button:hover {
  > main {
    width: 100% !important;
  }
}
.member-type {
  width: 100%;
  display: flex;
  width: 100%;
  border-radius: 15px;
}

.member-type > main {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  width: 100%;
  display: grid;
  grid-template-columns: 60% auto;

  > header h3 {
    color: $cdl_darkBlue;
    font-weight: 400;
    margin: 0;
  }
  > footer {
    display: flex;
    align-items: center;
    float: right;

    > h4 {
      font-weight: 300;
      color: $cdl_pink;
      font-size: 28px;
      margin: 0 28px 0 0;
    }
    > p {
      color: $cdl_darkBlue;
      font-weight: 300;
      font-size: 28px;
      margin: 0;
    }
  }
}

.member-type > button {
  display: flex;
  width: 0;
  padding: 0;
  margin-left: -20px;
  height: auto;
  margin: 0 0 0 -20px;
  border-radius: 15px;
  align-items: center;
}

.member-type:hover {
  > main {
    height: fit-content;
    width: calc(100% - 40px);
  }
  > button {
    width: fit-content;
    padding: 0 24px 0 44px;
  }
}

// group
.group-type main {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.6);
}

.group-type header {
  > div:first-child {
    p {
      width: calc(100% - 18px);
      font-weight: 400;
      font-size: 28px;
      line-height: 33px;
    }

    img {
      position: absolute;
      right: 18px;
    }
  }

  div {
    list-style: none;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
}

.group-type footer p {
  font-size: 24px;
  font-weight: 300;
}

.group-level {
  width: 100%;
  text-align: center;
  border-radius: 5px;
  margin: 10px 0 0;
}

.group-type > button {
  height: 60px;
  margin-top: -60px;
  margin-bottom: 62px;
}

.group-type:hover main {
  height: calc(100% - 40px);
}

.group-type:hover > button {
  margin-top: -20px;
  margin-bottom: 0;
}
