<!-- SCHEDULE -->
<div class="cdl-card schedule-type cdl-card-light" *ngIf="type === 'schedule'">
  <main>
    <header>
      <p>{{ data | date: "dd MMM yyyy" }}</p>
    </header>

    <footer>
      <div>
        <div>
          <p>horário</p>
        </div>
        <div>
          <p>{{ data | date: "hh:mm" }}</p>
        </div>
      </div>
    </footer>
  </main>
  <button>
    <p>{{ buttonLabel }}</p>
  </button>
</div>

<!-- ROADMAP -->
<div
  class="cdl-card roadmap-type cdl-card-light"
  [ngClass]="{
    'cdl-card-dark': data.is_default,
    'cdl-card-light': !data.is_default
  }"
  *ngIf="type === 'roadmap'"
  (click)="redirectToRoadmap(data.id)"
>
  <main>
    <header>
      <h4>{{ data.name }}</h4>
      <div>
        <h4>{{ levelLabel() }}</h4>
        <img
          src="assets/icons/verifyied-icon.svg"
          alt="roadmap verificado"
          *ngIf="data.is_default"
        />
      </div>
    </header>

    <footer>
      <div>
        <img src="assets/icons/{{ themeName() }}/post-it.svg" alt="post-it" />
        <p>40</p>
      </div>
      <div>
        <img src="assets/icons/{{ themeName() }}/mountain.svg" alt="desafios" />
        <p>40</p>
      </div>
    </footer>
  </main>
  <button>
    <p>começar</p>
  </button>
</div>

<!-- ROADMAP PROGRESS -->
<div
  class="cdl-card roadmap-progress-type cdl-card-light"
  [ngClass]="{
    'cdl-card-dark': data.is_default,
    'cdl-card-light': !data.is_default
  }"
  *ngIf="type === 'roadmap-progress'"
  (click)="redirectToRoadmap(data.id)"
>
  <main>
    <header>
      <h4>{{ data.name }}</h4>
      <div>
        <h4 class="roadmap-level">{{ levelLabel() }}</h4>
        <img
          src="assets/icons/verifyied-icon.svg"
          alt="roadmap verificado"
          *ngIf="data.is_default"
        />
      </div>
    </header>

    <footer>
      <p>
        Total de Atividades <b>{{ data.content_status.total }}</b>
      </p>
      <p>
        Atividades Concluídas <b>{{ data.content_status.complete }}</b>
      </p>
      <p>
        Atividades Atrasadas <b>{{ data.content_status.late }}</b>
      </p>
    </footer>
  </main>
  <div class="progress-bar">
    <div [style.width]="data.progress"></div>
  </div>
</div>

<!-- MEMBER -->
<div
  class="cdl-card member-type cdl-card-light"
  *ngIf="type === 'member'"
  [ngClass]="{ 'disable-member-card-button': disableButton }"
>
  <main>
    <header>
      <h3>{{ data.username }}</h3>
    </header>

    <footer>
      <h4>Discord ID:</h4>
      <p>{{ data.discord_id }}</p>
    </footer>
  </main>

  <button *ngIf="!disableButton">
    <img src="assets/icons/light/trash.svg" alt="excluir" />
  </button>
</div>

<!-- GROUP -->
<div
  class="cdl-card group-type"
  [ngClass]="{
    'cdl-card-dark': data.is_default,
    'cdl-card-light': !data.is_default
  }"
  (click)="redirectToGroup(data.token)"
  *ngIf="type === 'group'"
>
  <main>
    <header>
      <div>
        <p>{{ data.name }}</p>
        <img
          src="assets/icons/verifyied-icon.svg"
          alt="grupo verificado"
          *ngIf="data.is_default"
        />
      </div>
      <div *ngIf="data.category">
        <div class="tag" *ngFor="let category of data.category">
          {{ category.label }}
        </div>
      </div>
    </header>

    <footer>
      <div>
        <div *ngIf="data.number_members">
          <img
            src="assets/icons/{{ themeName() }}/user.svg"
            alt="quantidade de usuários"
          />
          <p>{{ data.number_members }}</p>
        </div>
        <div *ngIf="data.next_schedule">
          <img
            src="assets/icons/{{ themeName() }}/calendar.svg"
            alt="próxima reunião agendada"
          />
          <p>{{ data.next_schedule | date: "dd/MM" }}</p>
        </div>
      </div>
      <label class="group-level">{{ levelLabel() }}</label>
    </footer>
  </main>
  <button>
    <p>{{ buttonLabel }}</p>
  </button>
</div>
