<main class="container">
  <div class="header">
    <h1>José Bezerra</h1>
    <div>
      <button>Redefinir senha</button>
      <button>
        <img src="assets/icons/edit_icon.svg" id="edit_icon" />
      </button>
    </div>
  </div>

  <div class="bodyData">
    <section>
      <h4>Informações Pessoais</h4>
      <div class="row">
        <div class="col">
          <label>nome</label>
          <input type="text" name="" id="" placeholder="José"/>
        </div>
        <div class="col">
          <label>sobrenome</label>
          <input type="text" name="" id="" />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label>nome de usuário</label>
          <input type="text" name="" id="" />
        </div>
        <div class="col">
          <label>e-mail</label>
          <input type="text" name="" id="" />
        </div>
      </div>
    </section>

    <section>
      <h4>Redes Sociais</h4>
      <div class="row">
        <div class="col">
          <label>discord id</label>
          <input type="text" name="" id="" />
        </div>
        <div class="col">
          <label>github id</label>
          <input type="text" name="" id="" />
        </div>
      </div>
    </section>
  </div>

  <footer>
    <button>Excluir Conta</button>
    <button>Salvar</button>
  </footer>
</main>
