<div class="mainPage cdl-container">
  <header>
    <div>
      <h1>{{ group.name }}</h1>

      <div>
        <button
          class="button-default add-schedule-button"
          *ngIf="isGroupOwner"
          (click)="showModal.newSchedule = true"
          >
        <svg fill="none" viewBox="0 0 43 43" xmlns="http://www.w3.org/2000/svg">
        <path d="m40.85 19.35h-17.2v-17.2c0-1.1865-0.9633-2.1499-2.1502-2.1499-1.1866 0-2.1499 0.96333-2.1499 2.1499v17.2h-17.2c-1.1865 0-2.1499 0.9633-2.1499 2.1499 0 1.1869 0.96333 2.1502 2.1499 2.1502h17.2v17.2c0 1.1869 0.9633 2.1502 2.1499 2.1502 1.1869 0 2.1502-0.9633 2.1502-2.1502v-17.2h17.2c1.1869 0 2.1502-0.9633 2.1502-2.1502 0-1.1866-0.9633-2.1499-2.1502-2.1499z"/>
        </svg>
        </button>

        <button
          class="button-default"
          (click)="isGroupOwner ? handleRedirectToEditOrExit() : showModal.leaveGroup = true"
          >
          {{ isGroupOwner ? 'Editar grupo' : 'Sair do grupo' }}
        </button>
      </div>
    </div>

    <h2 class="subject-label">{{ group.subject_label }}</h2>

    <ul class="tag_list" *ngIf="group.category">
      <li *ngFor="let category of group.category">
        {{ category }}
      </li>
    </ul>

  </header>

  <main>
    <section>
      <h4>Reuniões</h4>
      <ul class="cdl_card_group">
        <li *ngFor="let date of group.schedule_list">
          <app-card
            (click)="showModal.viewSchedule = true; modalData = date"
            [type]="'schedule'"
            [data]="date.datetime"
          ></app-card>
        </li>
      </ul>
    </section>

    <section>
      <h4>Integrantes</h4>
      <ul class="member_list">
        <li class="member_card" *ngFor="let user of group.user_list">
          <app-card
            [type]="'member'"
            [data]="user"
            [disableButton]="!isGroupOwner"
            (click)="isGroupOwner && showModal.deleteUser = true && selectedUser = user.id"
            ></app-card>
        </li>
      </ul>
    </section>
  </main>
</div>


<!-- MODAL: SCHEDULE DETAILS -->
<app-modal
  *ngIf="showModal.viewSchedule"
  [showController]="showModal.viewSchedule"
  (close)="showModal.viewSchedule = false"
>
  <div class="modal_header">
    <div>
      <p>data:</p>
      <p>{{ modalData.datetime | date: "dd MMM yyyy" }}</p>
    </div>
    <div>
      <p>horário:</p>
      <p>{{ modalData.datetime | date: "hh:mm" }}</p>
    </div>
  </div>

  <div class="modal_body">
    <p>
      {{ modalData.description }}
    </p>
  </div>

  <div class="modal_footer">
    <button (click)="openScheduleLink()">ir para a reunião</button>
  </div>
</app-modal>


<!-- MODAL NEW SCHEDULE -->
<app-modal
  *ngIf="showModal.newSchedule"
  [showController]="showModal.newSchedule"
  (close)="showModal.newSchedule = false"
>
  <div class="modal_header"></div>

  <form [formGroup]="scheduleForm" (ngSubmit)="onSubmitNewSchedule()">
    <div class="modal_body">
      <div class="row">
        <div class="col">
          <label>data</label>
          <input type="date" formControlName="date" placeholder="dd/mm/yyyy" />
        </div>

        <div class="col">
          <label>horário</label>
          <input type="time" formControlName="time" placeholder="00:00" />
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label>link</label>
          <input type="text" formControlName="link" placeholder="reuniao.com.br" />
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label>descrição</label>
          <textarea
            type="text"
            formControlName="description"
            placeholder="Fale um pouco sobre o motivo da reunião"
          ></textarea>
        </div>
      </div>
    </div>

    <div class="modal_footer">
      <button>marcar reunião</button>
    </div>
  </form>
</app-modal>


<!-- MODAL LEAVE GROUP -->
<app-modal
  *ngIf="showModal.leaveGroup"
  [showController]="showModal.leaveGroup"
  (close)="showModal.leaveGroup = false"
>
  <div class="modal_header"></div>

  <p>Você tem certeza que deseja sair do grupo {{group.name}}?</p>
  <div class="modal_footer" (click)="handleRedirectToEditOrExit()">
    <button>sim, eu quero sair do grupo</button>
  </div>
</app-modal>

<!-- MODAL DELETE USER FROM GROUP -->
<app-modal
  *ngIf="showModal.deleteUser"
  [showController]="showModal.deleteUser"
  (close)="showModal.deleteUser = false"
>
  <div class="modal_header"></div>

  <p>Você tem certeza que deseja remover o usuário {{selectedUser.name}}?</p>
  <div class="modal_footer" (click)="exitGroup(selectedUser)">
    <button>remover</button>
  </div>
</app-modal>
