$darkBlue: #141648;
$pink: #D13C74;
$darkGrey: #2D2D2D;

::placeholder {
  color: #FFF;
}

// SCROLLBAR
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #24276D;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #FFC42E;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #B88B18;
}

h1 {
  font-weight: 100;
  font-size: 45px;
  margin: 10px 0;
  align-self: baseline;
  color: $darkBlue;
}

h4 {
  font-weight: 500;
  margin-bottom: 25px;
}

.mainPage {
  padding: 48px 32px;
  height: 100%;
  overflow-y: auto;
}

.header {
  align-items: center;
  display: block;

  div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      padding: 10px 0;
      width: 280px;
      background: none;
      border: 1px solid $pink;
      color: $pink;
      border-radius: 5px;
      font-weight: 300;
      font-size: 20px;
      letter-spacing: 4px;
      margin-right: 30px;
    }
  }

  h2 { font-weight: 500; color: $pink; font-size: 25px; }
}

.cdl_card_group {
  list-style: none;
  display: flex;
  gap: 24px;
  height: 170px;
  overflow-x: auto;
}

section {
  margin-top: 40px;
  display: block;
  height: auto;
  width: 100%;
}

.member_list {
  list-style: none;

  li { margin-bottom: 25px; }
}

.member_card {
  display: flex;
  width: 100%;
  padding: 24px;
  background: white;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  display: grid;
  grid-template-columns: 60% 40%;

  >h3 { color: $darkBlue; font-weight: 400; margin: 0; }
  >div {
    display: flex;
    align-items: center;

    >h4 { font-weight: 300; color: $pink; font-size: 28px; margin: 0 28px 0 0; }
    >p { color: $darkBlue; font-weight: 300; font-size: 28px; margin: 0; }
  }
}

.tag_list {
  list-style: none;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: flex-start;

  div {
    min-width: fit-content;
    width: fit-content;
    border-radius: 50px;
    padding: 2px 10px;
    border: 1px solid $pink;
    color: $pink;
    background: none;
  }
}
