@import "../../../../sass/abstracts/variables";
@import "../../../../sass/components/scrollbar";
@import "../../../../sass/components/button";
@import "../../../../sass/components/header";
@import "../../../../sass/components/container";

.add-schedule-button {
  display: flex;
  width: 61px;
  justify-content: center;
  align-items: center;
  margin-right: 13px;

  svg {
    width: 43px;
    fill: $cdl_pink;
  }
}

.add-schedule-button:hover svg {
  fill: $cdl_white;
}

.subject-label {
  font-weight: 500;
  color: $cdl_pink;
  font-size: 25px;
}

.tag_list {
  list-style: none;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: flex-start;

  li {
    min-width: fit-content;
    width: fit-content;
    border-radius: 50px;
    padding: 2px 10px;
    border: 1px solid $cdl_pink;
    color: $cdl_pink;
    background: none;
    cursor: default;
  }
}

// h1 {
//   font-weight: 100;
//   font-size: 45px;
//   margin: 10px 0;
//   align-self: baseline;
//   color: $cdl_darkBlue;
// }

// h4 {
//   font-weight: 500;
//   margin-bottom: 25px;
// }

.cdl_card_group {
  list-style: none;
  display: flex;
  gap: 24px;
  overflow-x: auto;
  width: calc(100% + 32px);
  height: fit-content;
  padding-bottom: 10px;
}

.member_list {
  list-style: none;
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: grid;
  row-gap: 25px;
}



// MODAL
.modal_header {
  display: flex;
  margin-bottom: 40px;

  > div {
    display: flex;
  }

  > div:last-child {
    align-items: flex-end;
    margin-left: 20px;
  }

  > div p {
    margin: 0;
    font-size: 22px;
  }
  > div p:first-child {
    color: $cdl_pink;
    font-weight: 500;
    margin-right: 5px;
  }
  > div p:last-child {
    color: $cdl_darkBlue;
    font-weight: 300;
  }
}

.modal_body p {
  color: #2d2d2d;
  font-weight: 300;
  font-size: 25px;
  letter-spacing: 15%;
  margin-bottom: 70px;
}

.modal_body {
  .row { margin-bottom: 40px; }

  label {
    font-weight: 400;
    color: $cdl_pink;
  }
  input, select, textarea {
    width: 100%;
    font-weight: 300;
  }
  input:disabled {
    color: #888;
  }
  label {
    display: block;
  }

  input,
  select,
  textarea {
    border: none;
    border-bottom: 1px solid $cdl_darkBlue;
    display: block;
    font-weight: 300;
    font-size: 25px;
    background: transparent;
  }
}

.modal_footer button {
  width: 100%;
  background: transparent;
  border: 1px solid $cdl_pink;
  color: $cdl_pink;
  font-size: 20px;
  text-align: center;
  align-self: center;
  justify-content: center;
  font-weight: 300;
  height: 64px;
  padding: 16px;
  border-radius: 15px;
}
