<div class="container content display">
  <header>
    <div>
      <h1>José Bezerra</h1>
      <button class="button-default" routerLink="./new">Novo Grupo</button>
    </div>
    <ul>
      <li><button>Todos</button></li>
      <li><button>Meus Grupos</button></li>
    </ul>
  </header>
  <main>
    <section class="">
      <ul class="card-list">
        <li *ngFor="let group of user.group_list">
          <app-card [data]="group"></app-card>
        </li>
      </ul>
    </section>
    <a routerLink="./explore"
      ><button>
        <img
          src="../../../../assets/icons/planet.svg"
          alt=""
          srcset=""
        /></button
    ></a>
  </main>
</div>
