@import "../../../../sass/abstracts/variables";
@import "../../../../sass/components/scrollbar";

h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 45px;
}

header > div > button {
  border: 1px solid $cdl_pink;
  color: $cdl_pink;
  width: 277px;

  background-color: rgb(231 233 240);
  border-radius: 5px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
}

section {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
}

section > ul {
  list-style: none;
  display: flex;
  border-radius: 15px;
  text-align: center;
  align-items: center;
  list-style: none;
  color: $cdl_darkBlue;
  font-weight: 300;
  height: auto;
  width: 100%;
  justify-content: space-between;

  flex-wrap: wrap;

  li {
    margin-bottom: 28px;
    width: 246px;
    height: 322px;
  }

  li p:first-child {
    font-size: 20px;
  }
  li p:last-child {
    font-size: 50px;
  }

  li:first-child {
    border: none;
  }

  li:last-child {
    border: none;
  }
}

header ul > li > button {
  margin: 0px 23px;
  background-color: rgb(231 233 240);
  border: none;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  border-bottom: 3px solid transparent;
}

header ul > li > button:hover {
  color: $cdl_pink;
  margin: -1px 23px;
  border-bottom: 3px solid $cdl_pink;
}

header {
  border-bottom: 1px solid;
}

header > ul {
  list-style: none;
  display: flex;
  margin: 0;
}

header > div {
  display: flex;
  justify-content: space-between;
}

main {
  height: 100%;
  margin-top: 10px;
  display: flex;

  > a > button {
    background-color: $cdl_pink;

    position: fixed;
    bottom: 28px;
    right: 56px;

    width: 80px;
    height: 80px;
    border: none;
    border-radius: 10em;
  }
}

app-card{
  text-align: left;
}

.content {
  overflow-y: scroll;
}

.display {
  display: grid;
  grid-template-rows: auto auto;
  height: 100vh;
  width: 100%;
  padding: 48px 32px;
}
