@import "../../../../sass/abstracts/variables";
@import "../../../../sass/components/button";
@import "../../../../sass/components//header";
@import "../../../../sass/components/tabs";
@import "../../../../sass/components/input";
@import "../../../../sass/components/scrollbar";
@import "../../../../sass/components/card-list";
@import "../../../../sass/components/container";

main {
  height: 100%;
  margin-top: 10px;
  display: flex;

  > a > button {
    background-color: $cdl_pink;

    position: fixed;
    bottom: 28px;
    right: 56px;

    width: 80px;
    height: 80px;
    border: none;
    border-radius: 10em;
    z-index: 20;
  }
}

@media (max-width: 1025px) {
  main a button {
    bottom: 80px;
    right: 20px;
  }
}
