<div class="cdl-container">
  <div class="body">
    <a routerLink="./../.."
      ><button id="logo">
        <img
          src="../../../../assets/icons/vulcano_logo.svg"
          alt=""
          srcset=""
        /></button
    ></a>

    <div class="cont">
      <div class="row">
        <div class="col center">
          <img
            class=""
            src="../../../../assets/icons/slogan.svg"
            alt="May the community be with you"
            srcset=""
          />
        </div>
      </div>

      <form class="mainPage" [formGroup]="exploreForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-11">
            <input
              class="input-dark input"
              placeholder="Pesquisar por um assunto"
              formControlName="name"
            />
          </div>
          <div class="col-1">
            <button
              type="button"
              (click)="setShowInput()"
              class="button-square button-dark"
            >
              <img src="../../../../assets/icons/filter.svg" />
            </button>
          </div>
        </div>
        <div class="row" *ngIf="showInput">
          <div class="col-3">
            <select
              id="objective"
              name="objective"
              class="input-dark input"
              formControlName="subject_label"
              (change)="handleSelectObjective($event)"
            >
              <option value="" disabled selected>Objetivo</option>
              <option
                *ngFor="let objective of subjectList"
                value="{{ objective.label }}"
              >
                {{ objective.label }}
              </option>
            </select>
          </div>
          <div class="col-3">
            <select
              id="category"
              name="category"
              class="input-dark input select-default"
              formControlName="category"
            >
              <option value="" disabled selected>Categoria</option>
              <option
                *ngFor="let category of categoryList"
                value="{{ category }}"
              >
                {{ category }}
              </option>
            </select>
          </div>

          <div class="col-3">
            <select formControlName="level" class="input-dark input">
              <option value="-1" disabled selected>Nível</option>
              <option value="0">Iniciante</option>
              <option value="1">Intermediário</option>
              <option value="2">Avançado</option>
            </select>
          </div>

          <div class="col-2">
            <button
              id="order-alphabetic"
              class="input-dark input"
              (click)="changeAlphabetical()"
              type="button"
            >
              {{ exploreForm.value.is_alphabetical ? "A - Z" : "Z - A" }}
            </button>
          </div>
          <div class="col-1">
            <button
              type="button"
              class="button-square button-dark"
              (click)="onSubmit()"
            >
              <img
                src="../../../../assets/icons/magnifying-glass.svg"
                srcset=""
              />
            </button>
          </div>
        </div>
      </form>
      <ul class="card-list">
        <li *ngFor="let group of groupList">
          <app-card [data]="group" (click)="joinPublicGroup(group.token)"></app-card>
        </li>
      </ul>
    </div>
    <ul class="button-list">
      <li (click)="showJoinPrivateGroupModal = true">
        <a routerLink="./"
          ><button>
            <img src="../../../../assets/icons/key.svg" /></button
        ></a>
      </li>
      <li>
        <a routerLink="./.."
          ><button>
            <img src="../../../../assets/icons/earth.svg" /></button
        ></a>
      </li>
    </ul>
  </div>
</div>

<app-modal
  *ngIf="showConfirmJoinGroupModal"
  [showController]="showConfirmJoinGroupModal"
  (close)="showConfirmJoinGroupModal = false"
>
  <div class="modal-body">
    <p> Você gostaria de ingressar neste grupo? </p>
    <button (click)="joinInGroup()">Confirmar</button>
  </div>
</app-modal>

<app-modal
  *ngIf="showJoinPrivateGroupModal"
  [showController]="showJoinPrivateGroupModal"
  (close)="showJoinPrivateGroupModal = false"
>
  <div class="modal-body">
    <p> Insira a chave do grupo </p>
    <input placeholder="ACME#0123" #token/>
    <button (click)="joinPrivateGroup(token)">Entrar no grupo</button>
  </div>
</app-modal>
