@import "../../../../sass/abstracts/variables";
@import "../../../../sass/components/card-list";
@import "../../../../sass/components/scrollbar";
@import "../../../../sass/components/button";
@import "../../../../sass/components/input";

main {
  height: 100vh;
  width: 100vw;
  background-color: $cdl_darkBlue;
}

a,
button {
  border: none;
}

input::placeholder {
  color: $cdl_yellow;
}

.body {
  background-color: $cdl_darkBlue;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;

  h1 {
    color: $cdl_white;

    span {
      display: block;
    }
  }
}

.button-list {
  list-style: none;
  position: fixed;
  right: 28px;
  bottom: 37px;
  z-index: 2;

  li {
    margin: 13px;
  }

  button {
    background-color: $cdl_pink;
    height: 80px;
    width: 80px;
    border-radius: 10em;
  }
}

.card-list {
  margin-top: 16px;
}

.center {
  text-align: center;
  margin-top: 19px;
  margin-bottom: 25px;
}

.cdl-container{
  display: grid;
  height: 100vh;
  grid-template-rows: 24vh 76vh;
}

.cdl-container{
  padding: 15px;
}

.cont {
  display: grid;
  grid-template-rows: auto auto auto;
  height: 100vh;
}

#logo {
  top: 35px;
  left: 34px;
  position: absolute;
  background-color: $cdl_darkBlue;
}

#order-alphabetic {
  text-align: left;
  padding-left: 20px;
  width: 103px;
  height: 43px;
  border-radius: 50px;
}

@media (min-width: 1040px) {
  .cdl-container{
    padding: 0 172px;
  }
}

.modal-body {
  p {
    color: #2d2d2d;
    font-weight: 300;
    font-size: 25px;
    letter-spacing: 15%;
    margin-bottom: 70px;
  }

  button {
    width: 100%;
    background: transparent;
    border: 1px solid $cdl_pink;
    color: $cdl_pink;
    font-size: 20px;
    text-align: center;
    align-self: center;
    justify-content: center;
    font-weight: 300;
    height: 64px;
    padding: 16px;
    border-radius: 15px;
  }

}