.button-default{
  border: 1px solid $cdl_pink;
  color: $cdl_pink;

  background-color: rgb(231 233 240);
  border-radius: 5px;

  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;

  height: 100% ;
  width: 270px ;
}

.button-default:hover{
  color: white;
  background-color: $cdl_pink;
  transition-delay: 50ms;
}

.button-square{
  background: transparent;
  border-radius: 10px;
  width: 42px;
  height: 42px;
  margin-top: 24px;
}

.button-rounded{
  background: transparent;
  border-radius: 25px;
  width: 100%;
  height: 42px;
  margin-top: 24px;
}


.button-dark{
  color: $cdl_yellow;
  background-color: $cdl_darkBlue;
  border: solid 2px $cdl_yellow;
}

.button-light{
  color: $cdl_darkBlue ;
  background-color: transparent;
  border: solid 2px $cdl_darkBlue;
}
