.card-list{

  list-style: none;
  display: flex;
  border-radius: 15px;
  text-align: left;
  align-items: center;
  list-style: none;
  color: $cdl_darkBlue;
  font-weight: 300;
  height: 100%;
  width: 100%;
  justify-content: space-between;

  overflow-y: scroll;

  flex-wrap: wrap;

  li {
    list-style: none;
    margin-bottom: 28px;
    width: 246px;
    height: 322px;
  }

  li p:first-child {
    font-size: 20px;
  }
  li p:last-child {
    font-size: 50px;
  }

  li:first-child {
    border: none;
  }

  li:last-child {
    border: none;
  }
}

.card-list-roadmap{
  list-style: none;
  border-radius: 15px;
  font-weight: 300;
  height: 100%;
  width: 100%;

  margin-top: 28px;

  overflow-y: scroll;
  flex-wrap: wrap;
}

@media (min-width: 1200px){
  .card-list{
    justify-content:start;
    gap: 20px;
  }
}

@media (min-width: 994px) and (max-width: 1199px){
  .card-list{
    justify-content:start;
    gap: 40px;
  }
}
