.cdl-container {
  display: grid;
  height: 100vh;
  grid-template-rows: 25vh 75vh;
}

.cdl-container-group {
  display: grid;
  height: 100vh;
  grid-template-rows: 20vh 80vh ;
}

@media (max-width: 1062px) {
  .cdl-container {
    padding: 32px;
  }
}

@media(min-height: 572px) and(max-height: 657px) {
  .cdl-container-group {
    grid-template-rows: 30vh 70vh;
  }

  .cdl-container {
    grid-template-rows: 35vh 65vh;
  }

}

@media  (min-height: 486px) and (max-height: 571px) {
  .cdl-container-group {
    grid-template-rows: 40vh 60vh;
  }
}

@media(min-height: 100px) and (max-height: 485px)  {
  .cdl-container-group {
    grid-template-rows: 50vh 50vh;
  }
}
