@import "./list-default";

header{
  margin-top: 47px;
  display: flex;
  flex-direction: column;
  width: 100%;

  h1{
    color: $cdl_darkBlue;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 3rem;
    line-height: 53px;
    letter-spacing: 0.15em;
    margin-top: 0;
  }

  div{
    display: flex;
    justify-content: space-between;
  }

  ul{
    list-style: none;
  }
}


@media (max-width: 1025px) {
  header h1 {
    font-size: 2rem;
  }
}
