<main>

  <div class="status-and-groups">
    <!-- PERSONAL STATUS -->
    <div class="personal-status">
      <div>
        <h1>{{user.name}} {{user.lastname}}</h1>
        <h3>{{user.level}}</h3>
      </div>
      <ul>
        <li>
          <p>Grupos</p>
          <p>{{user.group_list.length}}</p>
        </li>
        <li>
          <p>Objetivos</p>
          <p>{{user.interest_list.length}}</p>
        </li>
        <li>
          <p>Conclusões</p>
          <p>35</p>
        </li>
      </ul>
    </div>

    <!-- STUDY GROUPS -->
    <h1 class="study-groups-title">Grupos de estudo</h1>

    <div class="study-groups">
      <ul>
        <li *ngFor="let group of user.group_list.slice(0, 3)">
          <app-card [data]="group"></app-card>
        </li>
      </ul>
    </div>
  </div>

  <!-- <div class="roadmap-status"></div> -->
  <div class="roadmap-overview">
    <div class="roadmap-overview-header">
      <div>
        <button (click)="changeRoadmap('prev')">&lt;</button>
        <p>{{selectedRoadmap.name}}</p>
        <button (click)="changeRoadmap('next')">&gt;</button>
      </div>
    </div>

  <div class="roadmap-overview-progress-area">
      <img class="roadmap-icon" src="assets/icons/map-travel 2.svg">
      <h2>Seu progresso</h2>

      <div class="progressbar">
        <div [style.width]="selectedRoadmap.progress"></div>
        <!-- <p>{{data.progress}}</p> -->
      </div>

      <h2>Agenda da semana</h2>
      <div class="calendar">
        <ul class="week-days">
          <li *ngFor="let initial of weekDaysInitials">{{initial}}</li>
        </ul>
        <ul class="number-of-days">
          <li *ngFor="let day of weekDayList" [class.active-date]="verifyActiveDate(day)">{{day | date: 'dd'}}</li>
        </ul>
      </div>
    </div>

    <h2>Suas atividades</h2>
    <div class="roadmap-overview-accordion-area">
      <app-accordion
        *ngFor="let content of selectedRoadmap.content_list"
        [data]="content"
        [disableDetails]="true"
        [roadmapToken]="selectedRoadmap.id"
        [index]="getContentNumber(content)"
      ></app-accordion>
    </div>
  </div>
</main>
