<main [@fadeIn]>
  <div class="status-and-groups">
    <!-- PERSONAL STATUS -->
    <div class="personal-status">
      <div>
        <h1 *ngIf="user">{{user.name}} {{user.last_name}}</h1>

        <app-loader
          *ngIf="!user"
          [minHeight]="'30px'"
          [background]="'#fff'"
          [borderRadius]="'15px'"
        ></app-loader>
      </div>

      <ul>
        <li>
          <p>Grupos</p>
          <p>{{groupList ? groupList.length : '0'}}</p>
        </li>
        <li>
          <p>Objetivos</p>
          <p>{{groupList ? totalTask : '0'}}</p>
        </li>
        <li>
          <p>Conclusões</p>
          <p>{{groupList ? 0 : 0}}</p>
        </li>
      </ul>

      <app-loader
        *ngIf="groupList === undefined"
        [minHeight]="'200px'"
        [background]="'#fff'"
        [borderRadius]="'15px'"
      ></app-loader>
    </div>

    <!-- STUDY GROUPS -->
    <div class="study-groups">
      <h1>Grupos de estudo</h1>
      <ul>
        <ng-container *ngIf="groupList">
          <li *ngFor="let group of groupList.slice(0, 3)">
            <app-card [data]="group" [type]="'group'"></app-card>
          </li>
        </ng-container>

        <app-loader
          *ngIf="groupList === undefined"
          [background]="'#fff'"
          [borderRadius]="'15px'"
        ></app-loader>

        <li *ngIf="groupList && !groupList[0]"> Você ainda não entrou em nenhum grupo </li>
      </ul>
    </div>
  </div>

  <div
    class="roadmap-overview"
    [style.display]="selectedRoadmap && !selectedRoadmap.name && 'flex'"
    [style.align-items]="selectedRoadmap && !selectedRoadmap.name && 'center'"
    [style.justify-content]="selectedRoadmap && !selectedRoadmap.name && 'center'"
  >
    <ng-container *ngIf="selectedRoadmap && selectedRoadmap.name">
      <div class="roadmap-overview-header">
        <div>
          <button (click)="changeRoadmap('prev')">&lt;</button>
          <p>{{selectedRoadmap.name}}</p>
          <button (click)="changeRoadmap('next')">&gt;</button>
        </div>
      </div>

      <div class="roadmap-overview-progress-area">
        <img class="roadmap-icon" src="assets/icons/map-travel 2.svg">
        <h2>Seu progresso</h2>

        <div class="progressbar">
          <div [style.width]="selectedRoadmap.progress"></div>
        </div>

        <h2>Agenda da semana</h2>
        <div class="calendar">
          <ul class="week-days">
            <li *ngFor="let initial of weekDaysInitials">{{initial}}</li>
          </ul>
          <ul class="number-of-days">
            <li
              *ngFor="let day of weekDayList"
              [class.active-date]="verifyActiveDate(day)"
            >
              {{day | date: 'dd'}}
            </li>
          </ul>
        </div>
      </div>

      <h2>Suas atividades</h2>
      <div class="roadmap-overview-accordion-area">
        <app-accordion
          *ngFor="let content of selectedRoadmap.content_list"
          [data]="content"
          [disableDetails]="true"
          [roadmapToken]="selectedRoadmap.id"
          [index]="getContentNumber(content)"
        ></app-accordion>
      </div>
    </ng-container>

    <app-loader *ngIf="selectedRoadmap === undefined"></app-loader>

    <p
      *ngIf="selectedRoadmap && !selectedRoadmap.name"
    >
      Você ainda não começou nenhum roadmap
    </p>
  </div>
</main>
