@import "../../../sass/abstracts/variables";
@import "../../../sass/components/container";
@import "../../../sass/components/scrollbar";

main {
  height: 100vh;
  max-height: 100vh;

  display: grid;
  grid-template-columns: auto 420px;
  grid-template-areas: "status-and-groups roadmap-overview";

  padding: 25px 32px;
  column-gap: 48px;
  row-gap: 28px;

  overflow-y: hidden;
}

ul {
  list-style: none;
}

.status-and-groups {
  grid-area: status-and-groups;
}

.custom_roadmap_icon svg {
  fill: green;
}

.personal-status {
  grid-area: personal-status;
  display: block;
  margin-top: 25px;

  div {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    h1 {
      color: $cdl_darkBlue;
      font-weight: 300;
      font-size: 2rem;
    }
    h3 {
      color: $cdl_pink;
      font-weight: 500;
    }
  }

  ul {
    padding: 25px;
    border-radius: 15px;
    background-color: #fff;
    text-align: center;
    align-items: center;
    list-style: none;
    color: $cdl_darkBlue;
    font-weight: 300;
    display: flex;
    width: 100%;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.6);

    li {
      width: 100%;
    }

    li p:first-child {
      font-size: 20px;
    }
    li p:last-child {
      font-size: 50px;
    }

    li:first-child {
      border: none;
      border-right: 1px solid $cdl_darkBlue;
    }

    li:last-child {
      border: none;
      border-left: 1px solid $cdl_darkBlue;
    }
  }
}

.study-groups {
  grid-area: study-groups;
  height: 350px;

  h1 {
    margin-top: 50px;
    font-size: 28px;
    font-weight: 500;
    color: $cdl_darkBlue;
  }

  > ul {
    display: flex;
    column-gap: 40px;
    height: calc(100% - 38px);

    > li {
      width: 33%;
      @media screen and (max-width: 1025px) {
        width: 100%;
      }
    }
  }
}

// ROADMAP OVERVIEW
.roadmap-overview {
  grid-area: roadmap-overview;
  height: 100%;

  border-radius: 15px;

  background: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.6);

  > h2 {
    padding-left: 24px;
  }

  h2 {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    margin: 29px 0 5px;
  }
}

.roadmap-overview-header {
  display: block;
  width: 100%;
  height: 140px;
  padding: 24px 24px 71px;
  border-radius: 15px 15px 0 0;
  align-items: flex-start;

  background-color: $cdl_yellow;

  div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  div > button {
    display: flex;
    justify-content: center;
    align-items: center;

    background: transparent;
    border: none;
    padding: 3px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }

  div > button:hover {
    background: #FFF;
    transition: .2s;
  }

  div > p {
    flex-wrap: wrap;
    height: fit-content;
    width: fit-content;
    margin: 0;
    font-size: 22px;
    text-align: center;
    letter-spacing: 0.15em;
    color: $cdl_darkBlue;
  }
}

.roadmap-icon {
  margin-top: -71px;
  background: #fff;
  padding: 25px;
  border-radius: 50%;
  justify-self: center;
}

.roadmap-overview-progress-area {
  display: grid;
  justify-content: center;
  grid-template-columns: 100%;
  padding: 0 24px 0;

  > p:first-child {
    margin-top: 0;
  }

  > p {
    margin: 29px 0 5px;
  }
}

.progressbar {
  width: 100%;
  height: 18px;
  border-radius: 50px;
  background: $cdl_lightGrey;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    color: $cdl_pink;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.1em;
    position: absolute;
    margin: 0 0 0 21%;
  }

  > div {
    height: 100%;
    border-radius: 50px;
    background: $cdl_lightBlue;
  }
}

.calendar {
  border: 2px solid $cdl_darkBlue;
  padding-top: 16px;

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .week-days {
    font-weight: 500;
    font-size: 1.3rem;
    text-align: center;
    letter-spacing: 0.15em;
    color: $cdl_darkBlue;
  }

  .active-date {
    background: $cdl_pink;
    border-radius: 50%;
    color: #FFF;
  }

  .number-of-days li {
    font-size: 1rem;
    text-align: center;
    padding: 3px 5px;
  }

}

.roadmap-overview-calendar {
  border: 1px solid $cdl_darkBlue;
}

.roadmap-overview-accordion-area {
  background: $cdl_white;
  padding: 15px 24px;
  height: 45%;
  border-radius: 15px;
  overflow-y: auto;
  display: flex;
  height: 100%;
  flex-direction: column;
  row-gap: 20px;
}

@media (max-width: 1025px) {
  main {
    height: 100%;

    grid-template-columns: 100%;
    grid-template-areas: "status-and-groups""roadmap-overview";

    padding: 25px 20px;
    column-gap: 48px;
    row-gap: 28px;

    overflow-y: scroll;
    overflow-x: hidden;
  }

  .roadmap-overview {
    margin-top: 40px;
  }

  .study-groups {
    overflow-x: auto;
    height: auto;
  }

  .study-groups ul {
    width: max-content;
    overflow-x: clip;
  }
}
