@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
}

html, body {
  height: 100%;
  font-family: 'Roboto';
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #E7E9F0;
  font-weight: 400;
  width: 100vw;
  height: 100vh;
}




