// COLORS
$cdl_yellow: #FFC42E;

$cdl_blue: #24276D;
$cdl_lightBlue: #48DBDB;
$cdl_darkBlue: #141648;

$cdl_pink: #D13C74;

$cdl_grey: #2B2B2B;
$cdl_lightGrey: #E7E9F0;
$cdl_darkGrey: #2D2D2D;

$cdl_white: #F9F9F9;
